@charset "UTF-8";
@font-face {
  font-family: "Lato-Bold";
  src: url("../fonts/Lato-Bold.eot");
  src: local("☺"), url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.ttf") format("truetype"), url("../fonts/Lato-Bold.svg") format("svg");
}
@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/Lato-Regular.eot");
  src: local("☺"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato-Regular.svg") format("svg");
}
@font-face {
  font-family: "Lato-Semibold";
  src: url("../fonts/Lato-Semibold.eot");
  src: local("☺"), url("../fonts/Lato-Semibold.woff") format("woff"), url("../fonts/Lato-Semibold.ttf") format("truetype"), url("../fonts/Lato-Semibold.svg") format("svg");
}