.catalog{
   position: relative;
   &__bg{
      img{
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
   &__container{
      position: relative;
      z-index: 2;
      padding: 80px 10px;
   }
   &__title{
      text-align: center;
      font-size: 38px;
      line-height: 62px;
      color: #FFFFFF;
   }
   &__search{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 40px;
      margin-top: 50px;
      ._label__search{
         &-input{
            width: 400px;
            margin-right: 20px;
            input{
               padding: 14px 20px 14px 20px;
               font-weight: 500;
               font-size: 20px;
               line-height: 24px;
            }
         }
      }
   }
   &__link{
      font-size: 20px;
      line-height: 24px;
      font-weight: 500;
      color: #FFFFFF;
      margin-right: 21px;
   }
   &__list{
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: 150px;
      gap: 30px;
      color: #FFFFFF;
      &-item{
         position: relative;
         overflow: hidden;
         background: #D9D9D9;
         border: 1px solid #929090;
         box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.25);
         border-radius: 10px;
         overflow: hidden;
      }
      &-body{
         padding: 47px 0 48px 20px;
         position: relative;
         width: 100%;
         height: 100%;
         z-index: 20;
         background: linear-gradient(90.36deg, #261C1C 0.34%, rgba(0, 0, 0, 0) 83.67%);
         a{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
         }
         h3{
            font-size: 24px;
            line-height: 29px;
            font-weight: 600;
         }
         div{
            font-size: 18px;
            line-height: 22px;
         }
      }
      &-image{
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         img{
            object-fit: cover;
         }
      }
   }
}